<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, height=device-height,initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="<%= htmlWebpackPlugin.options.cdn %>/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cdn %>/font-awesome.min.css">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cdn %>/ionicons.min.css">
  <link href="<%= htmlWebpackPlugin.options.cdn %>/alte/css/AdminLTE.min.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.cdn %>/alte/css/skins/_all-skins.css">
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.cdn %>/prettify.css">
  <script type="text/javascript" src="/manifest.js"></script>
  <!--暂时写在这里,以后移到framework的less中-->
</head>
<body class="skin-blue" style="margin: 0;">

  <div id='container' class="wrapper"></div>
</body>

</html>
