{
  "presets": ["es2015","stage-0","react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators",
    "transform-runtime",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-object-assign"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
